.cardinfra{
    /* border: 1px solid red; */
    width: 100%;
    height: auto;

}

.qkiflexkaamkare{
    /* border: 1px solid rgb(44, 42, 42); */
    background: linear-gradient(45deg, rgba(18,18,79,1) 0%, rgba(11,11,47,1) 10%, rgba(0,0,0,1) 73%, rgba(18,18,79,1) 100%);

    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.699);
    /* width: 1140px; */
    
    margin:  auto; 
    height: auto;
    margin: 60px;
}

.cardinner{
    /* border: 1px solid red; */
    /* box-shadow: 0 0 8px 0 rgba(0,0,0,0.3); */
    margin:  20px; 
    margin-top: 15px;
    margin-bottom: 15px;
    /* width: 1140px; */
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.img{
    width: 400px;
    margin: 10px 5px;
    border: 6px solid rgb(226, 226, 226);
}

.imgg{
    position: relative;
    height: 450px;
    width: 510px;
    margin: 10px 5px;
    border: 6px solid rgb(226, 226, 226);
}
.img img{
  max-width: 100%;
   height: auto;
}

.textinfra{
    width: 720px;
    color: #fff;
    /* border: 1px solid red; */

}
.textinfraa{
    width: 600px;
    
    /* border: 1px solid red; */

}


.textinfra h1,p,h3{
    color: #fff; 
    padding: 20px;
}
.textinfraa h1,p{
    color: #fff; 
    padding: 20px;
}